@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
    
    background: url(../img/milky-way-gfa69be120_1280.jpg);
    background-size: cover;
    padding: 0;
}
nav{
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
nav .logo img{
    width: 40%;
    height: 14vh;
    border-radius: 50%;
}
.link{
    display: flex;
    padding: 10px;
    width: 40%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 40px;
    justify-content: center;
    margin-left: 140px;
}
li{
    width: 100px;
    padding:10px;
    background: rgb(35, 99, 240);
    list-style: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.active{
    background: darkblue;
}
li:hover{
    background: cornflowerblue;
}
a{
    color: #fff;
    text-decoration: none;
}
.header{
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}
/* Home page */
.container1{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    margin-top: 20px;
    padding: 10px;

}

.content1,.content2,.content3,.content4,.content5,.content6{
    background: rgba(78, 1, 150, 0.616);
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;
    color: rgb(226, 223, 223);
    border-radius: 15px;
}

.group-member .member i{
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 10px;
} 
h4{
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}
span{
    margin-left: 20px;
}
img{
    width: 50%;
    height: 125px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* chalenges page */
.container2{
    width: 70%;
    margin: auto;
    margin-top: 40px;
}
section{
    width: 100%;
    background: rgba(78, 1, 150, 0.616);
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius:20px ;
    padding: 10px;
    color: #fff;
}
section:hover{
    background: rgba(12, 152, 156, 0.884);
}
.image{
    width: 100px;
    height: 15vh;
    box-shadow: none;
}
.text{
    width: 70%;
}
.join{
    width: 100px;
    height: 7vh;
    font-size: 1.2rem;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
}
.join:hover{
    background: rgba(82, 139, 245, 0.897);
}
/* Score */
.container3{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    height: 50vh;
    color: white;
    margin-top: 50px;
    padding: 10px;
}
.score1,.score2,.score3{
    background: rgba(69, 1, 124, 0.555);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-align: center;
    padding: 20px;
}
.container3 .image{
    width: 400px;
    height: 20vh;
}
h1{
    font-size: 3rem;
}